.blue,
.green{
    height: 50px;
    min-height: 100%;
}

.grande
{
    height: 70px;
    padding: 8px
}

.grandissimo{
    height: 100px;
    padding: 10px;
}

.contenitore{
    height: 100%;
}


.blue{
    background-color: rgb(0,108,250);
    border: 1px solid white;
    color: white;
    
}
.green{
    background-color: rgb(0,225,101);
    border-left: 1px solid rgb(0,108,250);
    border-right: 1px solid rgb(0,108,250);
    color: white;
}

.riga{
    display: flex;
    align-items: center;
    justify-content: center;
}

.white{
    height: 10px;
}
/* debug */

[class*="col-"]{
   
}